<!DOCTYPE html>
<html>

<head>
  <title>Rodger Roller</title>
  <style>
    body {
      background-color: black;
      color: #aaa;
    }
  </style>
  <link rel="stylesheet" href="/styles/global.css" />
  <script>
    const s = {
      base_stats: ["Accuracy", "Damage", "Mastery", "Speed"]
    }

    const updateState = () => {
      for (k in s) {
        if (window[k] !== undefined) {
          window[k].innerHTML = s[k]
        }
      }
    }

    const roll = (sides) => {
      const roll_holder = new Uint32Array(1)
      crypto.getRandomValues(roll_holder)
      const raw_roll = roll_holder[0] / (0xffffffff + 1)
      return Math.floor(raw_roll * sides) + 1
    }

    const get_stat_total = (class_name) => {
      return Array.from(
        document.getElementsByClassName(class_name)
      ).map((element) => {
        if (element.value) {
          return parseInt(element.value, 10)
        }
        else {
          return 0
        }
      }).reduce((accumulator, currentValue) => accumulator + currentValue, 0)
    }

    const get_toggle_total = (class_name) => {
      return Array.from(
        document.getElementsByClassName(class_name)
      ).map((element) => {
        if (element.checked) {
          return parseInt(element.dataset.mod, 10)
        }
        else {
          return 0
        }
      }).reduce((accumulator, currentValue) => accumulator + currentValue, 0)
    }

    const updateValues = () => {
      s.base_stats.forEach((stat) => {
        s[`${stat}_Base`] = get_stat_total(stat)
        s[`${stat}_Mod`] = Math.floor(get_stat_total(stat) / 2)
      })
    }

    const roll_accuracy = (event) => {
      s.Gun_Accuracy_Mod = get_stat_total(`Accuracy_gun${event.target.dataset.gun}`)
      s.Base_Accuracy = get_stat_total('Accuracy')
      s.Toggled_Accuracy = get_toggle_total(`Accuracy_gun${event.target.dataset.gun}_toggle`)
      s.Accuracy_Adjustment = s.Gun_Accuracy_Mod + s.Base_Accuracy + s.Toggled_Accuracy
      s.Roll_Natural = roll(20)
      s.Roll_Total = s.Roll_Natural + s.Accuracy_Adjustment
      updateState()
    }

    const init = () => {
      Array.from(
        document.getElementsByClassName('accuracy_roller')
      ).forEach((element) => {
        element.addEventListener('click', roll_accuracy)
      })
      updateValues()
      updateState()
    }

    document.addEventListener("DOMContentLoaded", init);
  </script>
</head>

<body>
  <h1>Rodger Roller</h1>
  <p>This is my custom character sheet and dice roller for my Bunkers And Badasses character. </p>

  <h2>Roll</h2>
  <table>
    <tr>
      <td>Natural:</td>
      <td id="Roll_Natural">-</td>
    </tr>
    <tr>
      <td>Modifier:</td>
      <td id="Accuracy_Adjustment">-</td>
    </tr>
    <tr>
      <td>Total: </td>
      <td id="Roll_Total">-</td>
    </tr>
    <tr>
      <td>Hits: </td>
      <td id="Hits">-</td>
    </tr>
    <tr>
      <td>Crits: </td>
      <td id="Crits">-</td>
    </tr>
  </table>

  <hr />

  <h2>Guns!</h2>
  {% for gun in guns %}
  {% set gunIndex = loop.index %}
  <div>Name: {{ gun.name }}</div>
  <div>Range: {{ gun.range }}</div>
  {% for stat in gun.stats %}
  <div>{{ stat.stat }} <input type="text" class="{{ stat.stat }}_gun{{ gunIndex }}" value="{{ stat.mod }}" size="2"
      disabled /></div>
  {% endfor %}

  {% for toggle in gun.toggles %}
  {{ toggle.name }} <input type="checkbox" class="{{toggle.stat}}_gun{{gunIndex}}_toggle" data-mod="{{toggle.mod}}"
    checked>
  {% endfor %}
  <div><button class="accuracy_roller" data-gun="{{gunIndex}}">Roll Accuracy</button></div>
  {% endfor %}

  <h2>Core</h2>
  <div>
    <div>Accuracy: <span id="Accuracy_Base"></span> Mod: <span id="Accuracy_Mod"></span></div>
    <div>Damage: <span id="Damage_Base"></span> Mod: <span id="Damage_Mod"></span></div>
    <div>Mastery: <span id="Mastery_Base"></span> Mod: <span id="Mastery_Mod"></span></div>
    <div>Speed: <span id="Speed_Base"></span> Mod: <span id="Speed_Mod"></span></div>
  </div>

  <h2>Archetype: Deadeye</h2>
  <div class="stat_row">
    {% for key in archetype_stats %}
    <div>{{ key }}: <input class="{{ key }}" type="text" size="2" value="{{ archetype_stats[key] }}" disabled /></div>
    {% endfor %}
  </div>

  <h2>Class: Hunter</h2>
  <div class="stat_row">
    {% for key in class_stats %}
    <div>{{ key }}: <input class="{{ key }}" type="text" size="2" value="{{ class_stats[key] }}" disabled /></div>
    {% endfor %}
  </div>

  <h2>Background: Prize Shot</h2>
  <div class="stat_row">
    {% for key in background_stats %}
    <div>{{ key }}: <input class="{{ key }}" type="text" size="2" value="{{ background_stats[key] }}" disabled />
    </div>
    {% endfor %}
  </div>

  <h2>Action Skill</h2>
  <div>TODO: Add tickmarks for single use in combat and number per day equaly to mastery mod</div>

  <h2>Favored Gun</h2>
  <div>Sniper Rifle</div>

  <h2>Skill Tree</h2>
  <div>TODO</div>

  <h2>Melee Die</h2>
  <div>1D4</div>

  <h2>Traits</h2>
  <div>Insider: +5 Guild Sneak Checks</div>
  <div>Looter: +5 Loot Search Checks</div>

</body>

</html>
