<!DOCTYPE html>
<html>

<head>
  <title>Roller</title>
  <style>
    body {
      background-color: black;
      color: #aaa;
    }
  </style>
</head>

<body>
  <h1>Rodger Roller</h1>
  <p>This is my custom character sheet and dice roller for my Bunkers And Badasses character. </p>

  <h2>Core</h2>
  <div>
    <div>Accurracy: <span>x</span> mod: <span></span></div>
    <div>Damage: <span>x</span> mod: <span></span></div>
    <div>Speed: <span>x</span> mod: <span></span></div>
    <div>Mastery: <span>x</span> mod: <span></span></div>
  </div>

  <hr />

  <h2>Archetype: Deadeye</h2>

  <div>
    {% for key in archetype_stats %}
    <div>{{ key }}: {{ archetype_stats[key] }}</div>
    {% endfor %}
  </div>

</body>

</html>
